@import "tailwindcss";
@import "@nuxt/ui";
@import "@fontsource-variable/inter";
@import "@fontsource-variable/lora";

@theme static {
  --font-sans: 'Inter Variable', 'Inter', ui-sans-serif, system-ui, sans-serif;
  --font-serif: 'Lora Variable', 'Lora', ui-serif, Georgia, serif;

  --ui-primary: #53803E;

  --color-green-50: #F1F5F0;
  --color-green-100: #E3EBE0;
  --color-green-200: #C8D6C1;
  --color-green-300: #ACC2A2;
  --color-green-400: #83A474;
  --color-green-500: #53803E;
  --color-green-600: #497137;
  --color-green-700: #3F612F;
  --color-green-800: #355228;
  --color-green-900: #2B4320;
  --color-green-950: #213319;

  --color-red-50: #FEF2F2;
  --color-red-100: #FEE2E2;
  --color-red-200: #FECACA;
  --color-red-300: #FCA5A5;
  --color-red-400: #F87171;
  --color-red-500: #EF4444;
  --color-red-600: #DC2626;
  --color-red-700: #B91C1C;
  --color-red-800: #991B1B;
  --color-red-900: #7F1D1D;
}

@layer base {
  body {
    font-family: var(--font-sans);
    font-feature-settings: "cv11", "ss01";
    text-rendering: optimizeLegibility;
  }

  h1,
  h2,
  h3,
  h4 {
    font-family: var(--font-serif);
    letter-spacing: -0.01em;
  }

}

.link {
  text-decoration: underline;
}

[data-slot='base'].bg-primary {
  color: #fff;
}

.size-18 {
  width: 200px !important;
  height: 200px !important;

  @media (min-width: 768px) {
    width: 375px !important;
    height: 375px !important;
  }
}
