{
  http_port {$HTTP_PORT:80}
  https_port {$HTTPS_PORT:443}
}

http://{$DOMAIN:elementaryvocal.ru}:{$HTTP_PORT:80}, http://www.{$DOMAIN:elementaryvocal.ru}:{$HTTP_PORT:80} {
  redir https://{host}:{$HTTPS_PORT:443}{uri} permanent
}

https://{$DOMAIN:elementaryvocal.ru}:{$HTTPS_PORT:443}, https://www.{$DOMAIN:elementaryvocal.ru}:{$HTTPS_PORT:443} {
  encode zstd gzip

  reverse_proxy /api/* pocketbase:8090
  reverse_proxy /_/* pocketbase:8090
  reverse_proxy frontend:3000
}
